@model Week11ReviewSites.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/headerimg3.png" alt="...">
            <div class="caption">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Category.Name_of_Item)
                    </dt>

                    <dd>
                        <h3>
                            @Html.DisplayFor(model => model.Category.Name_of_Item)
                        </h3>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.Title)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.Content)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.PublishDate)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.Name)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.Location)
                        </p>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rating_out_of)
                    </dt>

                    <dd>
                        <p>
                            @Html.DisplayFor(model => model.Rating_out_of)
                        </p>
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
                <p><a href="https://support.apple.com/" class="btn btn-primary" role="button">Need Help?</a></p>
            </div>
        </div>
    </div>
</div>
